.about--container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.carousel {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../../public/reviewbanner.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    z-index: -1;
}