.about--container {
    width: 100%;
    min-height: 60vh;
    padding: 6rem;
    position: relative;
    background: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../../assets/aboutbg.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-family: 'Poor Story', sans-serif;
    font-size: 4rem;
    color: #e6b08d;
}

.about--content h3 {
    font-size: 2rem;
}

.about--content p {
    margin-top: 20px;
    font-size: 1.5rem;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@media screen and (max-width:640px) {
    .about--container {
        padding: 1.5rem;
    }

    .heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .about--content h3 {
        font-size: 1rem;
        text-align: center;
    }

    .about--content p {
        text-align: center;
        font-size: 1rem;
    }
}