.reviews {
    width: 90%;
    margin: 0 auto;
}

.review--card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;
    gap: 5px;
    color: #000;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 52%, rgba(230, 176, 141, 1) 100%);
}

.review--card img {
    width: 150px;
    height: 170px;
    border-radius: 50%;
}

.name {
    font-size: 1.4rem;
    font-weight: 500;
}

.review--stars {
    color: #d49062;
}

.divider {
    width: 60%;
    margin: 5px auto;
    height: 2px;
    border-radius: 20px;
    background: rgb(136, 136, 136);
}

.review {
    font-size: 0.8rem;
    text-align: center;
}