.footer {
    width: 100%;
    padding: 1rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/src/assets/footerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer--container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.footer--container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    padding: 1rem;
    gap: 2rem;
}

.footer--container .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 1rem;
    margin: auto;
    gap: 1.5rem;
}

.footer--content {
    display: flex;
    align-items: center;
}

.footer--icon {
    margin-right: 2rem;
    color: #d49062;
    font-size: 2rem;
}

.right>h4 {
    font-size: 1.2rem;
    color: #d49062;
}

@media screen and (max-width:640px) {
    .footer--container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .footer--container i {
        font-size: 1rem;
    }

    .left i {
        margin-bottom: 0.5rem;
    }

    .right i {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
}