.video--container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -10000;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.video--container p {
    color: #fff;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.video--container span {
    color: #e6b08d;
}

.home--header {
    margin-bottom: 6rem;
}

.home--header h1 {
    color: #e6b08d;
    font-size: 8rem;
    font-family: 'Poor Story', sans-serif;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.btn--container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btn {
    border: 2px solid #e6b08d;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem 1.5rem;
    transition: 0.2s ease-in;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.btn:hover {
    background: #e6b08d;
    border: none;
    color: #000;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {
    .home--header h1 {
        font-size: 5.5rem;
    }

    .video--container p {
        font-size: 3.2rem;
    }

    .btn--container {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .home--header {
        margin-bottom: 0rem;
    }
}