.menu {
    width: 100%;
    height: 100vh;
    position: relative;
}

.menu--banner {
    position: relative;
    width: 100%;
    height: 30vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/src/assets/menubanner.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu--banner h2 {
    font-family: 'Poor Story', sans-serif;
    color: #e6b08d;
    font-size: 7rem;
}

.menu--banner p {
    color: #fff;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.menu--banner span {
    color: #e6b08d;
}

/* MENU CONTAINER   */

.menu--subtitle {
    color: #e6b08d;
    font-size: 4rem;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Poor Story', sans-serif;
}


.sub--description {
    font-size: 1.5rem;
    padding: 0 2rem;
    text-align: center;
}

.favorite {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.liked {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
    color: #d49062;
    cursor: pointer;
    transition: 0.3s;
}

.menu--container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card--content {
    position: relative;
    margin: 1rem auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d49062;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(247, 243, 243, 0.35) 0px 2px 12px;
}

.item--img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.name--price {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
}

.name--price span {
    font-weight: 500;
    font-size: 1rem;
}

.card--btn--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.card--btn {
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    border: none;
    background: #d49062;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.card--btn:hover {
    background: #e6b08d;
}

.quantity--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.plus--minus {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
}

.plus--minus span {
    font-size: 1.2rem;
    color: #fff;
}

.plus--minus button {
    width: 2.3rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #000;
    color: #e6b08d;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #d49062;
}

.plus--minus button:hover {
    background: rgb(49, 49, 49);
}

.remove-btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
}

.remove-btn:hover {
    background: rgb(49, 49, 49);
}

@media screen and (max-width:1000px) {
    .menu--container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:640px) {
    .menu--container {
        grid-template-columns: 1fr;
    }

    .menu--banner h2 {
        font-size: 4rem;
        margin-top: 4rem;
    }

    .menu--banner p {
        font-size: 2.5rem;
    }

    .menu--subtitle {
        font-size: 3rem;
    }

    .sub--description {
        font-size: 1.3rem;
    }
}