li,
a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.navbar--container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background: #000;
    z-index: 1000;
}

.navbar--container h3 {
    font-family: 'Poor Story', sans-serif;
    font-size: 1.8rem;
    color: #e6b08d;
    transition: ease-in 0.2s;
}

.navbar--container h3:hover {
    color: #fff;
}

.navbar--links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar--links a {
    font-size: 1rem;
    text-transform: uppercase;
    transition: ease-in 0.2s;
}

.navbar--links a:hover {
    color: #e6b08d;
}

.bag {
    position: relative;
    background: transparent;
    cursor: pointer;
}

.cart--icon {
    color: #fff;
    background: transparent;
    font-size: 2.2rem;
}

.rounded--circle {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    color: #fff;
    background: #000;
    bottom: 0;
    right: 0;
    border: 2px solid #e6b08d;
    border-radius: 50%;
    transform: translate(25%, 25%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger--menu {
    display: none;
}

.slider--menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background: #fff;
    right: 0;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: 0.5s;
}

#slider--title {
    color: #000;
    margin-top: 3rem;
}

.slider--icon {
    position: absolute;
    right: 25px;
    font-size: 2.5rem;
    cursor: pointer;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width:1000px) {

    .navbar--container {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 0;
    }

    .navbar--container h3 {
        font-size: 3rem;
    }

    .hamburger--menu {
        position: absolute;
        right: 25px;
        display: block;
        display: flex;
        cursor: pointer;
        color: #fff;
        font-size: 2.5rem;
        margin-top: 8px;
    }

    .navbar--links {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        background: rgba(0, 0, 0, .9);
        z-index: -1;
    }

    .navbar--links.active {
        left: 0;
    }

    .navbar--links li {
        padding: 1rem 0;
    }

    .navbar--links a {
        font-size: 1.5rem;
    }

    .cart--icon {
        font-size: 2rem;
    }

    .rounded--circle {
        width: 1.2rem;
        height: 1.2rem;
        font-size: 0.8rem;
    }

    .slider--menu {
        width: 100%;
    }

}